{% extends "common.html" %} {% block title %}Login{% endblock %} {% block content
  %}

  <form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        class="form-control"
        placeholder="Enter Username"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter Password"
      />
      <br />
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="True" name="checkbox">
        <label class="form-check-label" for="remember-info">
          Remember Login Info
        </label>
      </div>
      <div align="center">
        <button class="btn btn-primary" type="submit" style="background-color: #712cf6">Login</button>
      </div>
      <style>.alert {position: left; width: 500px;} .btn-close {position:right;}</style>
      <div>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{category}} alter-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      </div>
    </div>
  </form>
  {% endblock %}